// Tables

@mixin table-row-variant($state, $bg, $color) {
  // Exact selectors below required to override `.table-striped` and prevent
  // inheritance to nested tables.
  tr.#{$ns}table-#{$state},
  th.#{$ns}table-#{$state},
  td.#{$ns}table-#{$state} {
    @if ($color != '') {
      color: $color;
    }

    @if ($bg != '') {
      background-color: rgba(red($bg), green($bg), blue($bg), .115);
      @if ($color == '') {
        color: darken($bg, 4%);
      }
    }
  }

  // Hover states for `.table-hover`
  // Note: this is not available for cells or rows within `thead` or `tfoot`.
  .#{$ns}table-hover {

    @if ($bg != '') {
      $hover-background: darken($bg, 5%);

      .#{$ns}table-#{$state} {
        @include hover {
          background-color: $hover-background;

          > td,
          > th {
            background-color: $hover-background;
          }
        }
      }
    }
  }
}

@mixin table-state-variant($state, $bg, $color) {
  //以上的逻辑可移到此处，没必要用到上述的
}
