// Buttons
//
// Custom buttons for the docs.

.bd-example .btn {
  margin-bottom: 0.875rem;
}

.btn-bs {
  font-weight: 500;
  color: $bd-docs-bright;
  border-color: $bd-docs-bright;

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background-color:$bd-docs-bright;
    border-color: $bd-docs-bright;
  }
}
