// Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css

// ==========================================================================
// Print styles.
// Inlined to avoid the additional HTTP request: h5bp.com/r
// ==========================================================================

@media print {
  *,
  *::before,
  *::after {
    background: transparent !important;
    color: #000 !important; // Black prints faster: h5bp.com/s
    text-shadow: none !important;
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /**
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="javascript:"]::after,
  a[href^="#"]::after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; // h5bp.com/t
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  @page {
    margin: 0.5cm;
  }

  // Chrome (OSX) fixed
  select {
    background: #fff !important;
  }

  // Bootstrap specific changes start

  // Bootstrap components
  .#{$ns}navbar {
    display: none;
  }
  .#{$ns}btn,
  .#{$ns}dropup > .#{$ns}btn {
    > .#{$ns}caret {
      border-top-color: #000 !important;
    }
  }
  .#{$ns}label {
    border: 1px solid #000;
  }

  .#{$ns}table {
    border-collapse: collapse !important;

    td,
    th {
      background-color: #fff !important;
    }
  }
  .#{$ns}table-bordered {
    th,
    td {
      border: 1px solid #ddd !important;
    }
  }

  // Bootstrap specific changes end

}


// print helper classes

.#{$ns}print-block {
  display: none !important;

  @media print {
    display: block !important;
  }
}

.#{$ns}print-inline {
  display: none !important;

  @media print {
    display: inline !important;
  }
}

.#{$ns}print-inline-block {
  display: none !important;

  @media print {
    display: inline-block !important;
  }
}

.#{$ns}print-hide {
  @media print {
    display: none !important;
  }
}
