

// Namespace
// -----------------------------------------------------------------------------
// 链接字符串 usage: #{$ns}

// $ns: "";


// 色系控制
// -----------------------------------------------------------------------------

// $brand-primary: 	          #0e90d2 !default; //#0275d8; //#157EFB; //#428bca //#15afef;
// // $brand-secondary:           lighten($brand-primary, 15%) !default;
// $brand-success:             #5cb85c !default; //#5eb95e; // #53D76A; //#5cb85c;
// $brand-info:                #5bc0de !default; //
// $brand-warning: 	          #F37B1D !default; //#f0ad4e; //#FD9426; // #f0ad4e !default;
// $brand-danger:              #d9534f !default; //#dd514c; // #FC3159; //#da314b;
// $brand-active:              #ffffdd !default;
// $brand-disabled:            $gray-light !default;

//常用变量

//线的2种颜色：深灰：#C4C4C4  浅灰：#E4E4E4
//字体的4种颜色：咖啡色：#914E07   黑色：#252525  深灰：#959595  浅灰：#B4B4B4


$color-title:    #914E07;  //rgb (145, 78, 7);
$color-font:     #252525;  //rgb (37, 37, 37);

$color-main:     #FFEE11;  //rgb (255, 238, 17);
$color-gray:     #B4B4B4;  //rgb (180, 180, 180);
$color-grayer:   #959595;  //rgb (149, 149, 149);
$color-disabled: #E4E4E4;  //rgb (228, 228, 228);
$color-star:     #FEC446;  //rgb (254, 196, 70);
$color-price:    #FF5555;  //rgb (255, 85, 85);

$line-light:     #C4C4C4;  //rgb (196, 196, 196);
$line-lighter:   #E4E4E4;  //rgb (228, 228, 228);
$line-lightest:  #f7f7f7;

// $bg-light:       #f1f1f1;
$bg-lighter:     #f1f1f1;  //bodyBg rgb (241, 241, 241);
$bg-lightest:    #f7f7f7;  //test
$bg-header:      rgba(255, 238, 17, 0.9);

$btn-main:         #FFEE11;  //rgb (255, 238, 17)
$btn-main-active:  #F2E110;


// Options
// -----------------------------------------------------------------------------
// Quickly modify global styling by enabling or disabling optional features.

// $enable-flex:               false !default;
// $enable-rounded:            false !default;
// $enable-shadows:            false !default;
// $enable-gradients:          false !default;
// $enable-transitions:        false !default;
// $enable-hover-media-query:  false !default;
// $enable-grid-classes:       true !default;


// html,
// body {
//   height: 100%;
//   overflow: hidden;
// }
